

.skills-box{
    /* height: 100px;
    width: 80px; */
    flex-direction: column;
    background-color: var(--surface);
    box-shadow: 0px 0px 7px 2px white;
    border-radius: 10px;
    padding: 5px;
}

.skills-box img{
    height: 35px;
}

